{% extends 'base.html' %}

{% block content %}
{% if not search_res %}
<h3>没找到您搜的品牌，请换个品牌试试</h3>
{% else %}
<h3>为您找到了{{ num }}件商品</h3>
<table align="center">
    {% for three_products in search_res %}
    <tr>
        {% for product in three_products %}
        <td>
            {% if current_user and current_user.is_authenticated %}
            {% endif %}
            <a href="{{ product.url }}">
                <img src="{{ product.image }}" align="middle">
                <div align="center" style="width:185px; height:46px">{{ product.title_chinese }}</div>
            </a>
            <div align="center" style="font-size:22px">${{ product.price }}</div>
            <div align="center" style="font-size:22px; color:red">{{ product.discount }} Off</div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}