{% extends 'base.html' %}

{% block content %}
<div align="center" style="font-size:25px">今日史低价</div><br><br>
<table align="center">
    {% for three_products in products %}
    <tr>
        {% for product in three_products %}
        <td>
            {% if current_user and current_user.is_authenticated %}
            <form class="inline-form" method="get" action="{{ url_for('star', user_id=current_user.id, item_id=product.item_id) }}">
                <input class="star" type="submit" name="star" value="Star">
            </form>
            <form class="inline-form" method="get" action="{{ url_for('like', user_id=current_user.id, item_id=product.item_id) }}">
                <input class="like" type="submit" name="like" value="Like">
            </form>
            {% endif %}
            <a href="{{ product.url }}">
                <img src="{{ product.image }}" align="middle">
                <div align="center" style="width:185px; height:46px">{{ product.title_chinese }}</div>
            </a>
            <div align="center" style="font-size:22px">${{ product.price }}</div>
            <div align="center" style="font-size:22px; color:red">{{ product.discount }} Off</div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}