{% extends 'base.html' %}

{% block content %}
<div align="center" style="font-size:25px">今日大折扣</div><br><br>
<table align="center">
    {% for three_products in products %}
    <tr>
        {% for product in three_products %}
        <td>
            {% if current_user and current_user.is_authenticated %}
            {% include '_like_collect.html' %}
            {% endif %}
            <a href="{{ product.url }}">
                <img src="{{ product.image }}" align="middle">
                <div align="center" style="width:185px; height:46px">{{ product.title_chinese }}</div>
            </a>
            <div align="center" style="font-size:22px">${{ product.price }}</div>
            <div align="center" style="font-size:22px; color:red">{{ product.discount }} Off</div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}